<div class="container-fluid">
	<div class="row">
					
					
					
						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Name </label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control pname add_appointment_firstName"
									val="" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Last Name
							</label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control pname add_appointment_lastName"
									val="" type="text">
							</div>
						</div>

						<!-- div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Services</label>
							<div class="col-md-9 col-sm-6">
								<select class="form-control add_appointment_serviceTypeId"  style="border: 1px solid #eee;
    cursor: pointer;"
									val="">
									<option value="0">All Test</option>
									<option value="1">Blood Test</option>
									<option value="2">X-ray</option>
									<option value="3">ECG</option>
								</select>
							</div>
						</div-->
						
						<div class="form-group">
    <label class="col-md-3 col-sm-12 control-label" for="rolename">Services</label>
    <div class="col-md-9 col-sm-6">
        <select id="dates-field2"  class="add_appointment_serviceTypeId multiselect-ui form-control" multiple="multiple">
            <option value="0">All Test</option>
            <option value="1">Blood Test</option>
            <option value="2">X-ray</option>
            <option value="3">ECG</option>
        </select>
    </div>
</div>					
						
						
						
							<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Age</label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control add_appointment_age" val=""
									type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Contact
								No </label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control pcontact" val="" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Address</label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control add_appointment_address" val=""
									type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Gender</label>
							<div class="col-md-9 col-sm-6">

								<select class="form-control add_appointment_gender" val="">
									<option value=""></option>

									<option value="M">M</option>
									<option value="F">F</option>
									<option value="O">O</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Email</label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control add_appointment_email" val=""
									type="text">
							</div>
						</div>
						

						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Date </label>
							<div class="col-md-9 col-sm-6">

								<input type='date' placeholder="Select date"
									class="form-control add_appointment_dateTime" val=""
									id='datetimepicker2' />
							</div>
						</div>
					

					
						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Slot</label>
							<div class="col-md-9 col-sm-6">
								<input class="form-control add_appointment_slot" val=""
									type="text">
							</div>
						</div>


						<div class="form-group">
							<label class="col-md-3 col-sm-12 control-label">Ref.
								Doctor</label>
							<div class="col-md-9 col-sm-6" >

								<select class="form-control add_appointment_referredByDoctorId"  style="border: 1px solid #eee;
    cursor: pointer;" val="">
									<option value="0">None</option>
									<option value="1">Dr. Vishal</option>
									<option value="2">Dr. Sahil</option>
									<option value="3">Dr. Kripa</option>
								</select>
							</div>
						</div>
					</div>
</div>
<script type="text/javascript">
   
   
</script>