
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Doctor Commission</h4>
					<!-- <p class="category">Choose NGO</p> -->
					<!-- <button class="category btn btn-default btn-sm" data-toggle="modal"
						data-target="#addService">Add</button> -->
				</div>
				<!-- <div style="padding:2%"><input class="form-control"type="text" placeholder="Search...." style="width:100%"></div> -->
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-primary headerdata">
						</thead>
						<tbody class="rowdata">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var container = "content";
	var urlPerfix = baseUrl;
	url = urlPerfix + "/doctor/all";
	var jsonData = "";
	getJSON(url);

	function getJSON(url) {
		$.ajax({
			url : url,
			type : "GET",
			crossDomain : true,
			timeout : 50000,
			success : function(response) {
				jsonData = response;
				populateData(response);
				initClickEvent();
			},
			error : function(xhr, status, error) {
			}
		});

	}

	function initClickEvent() {

		$(".delbtn").click(function() {
			alert("deleting...");
			var idStr = $(this).attr("id");
			var id = idStr.split('_')[1];
			url = urlPerfix + "/commission/" + id;
			//alert(url);
			$.ajax({
				url : url,
				type : "DELETE",
				crossDomain : true,
				timeout : 50000,
				success : function(response) {
				},
				error : function(xhr, status, error) {
				}
			});
		});

		$(".add-new-serviceType-btn").click(function() {

			var name = $("#add-new-serviceType").val();
			var price = $("#add-new-serviceType-price").val();

			var jsondata = {};
			jsondata["name"] = name;
			jsondata["price"] = price;

			var urlPerfix = baseUrl;
			url = urlPerfix + "/commission/add";

			callAjaxPostJSON(url, "POST", "", jsondata);

			clearForm();
		});

		$(".editbtn")
				.click(
						function() {
							var id = $(this).attr("id").split('_')[1];
							var name = $("#commission_" + id).text();
							var price = $("#price_" + id).text();
							var optStr = "";
							var selStr = '<select class="form-control" id="edit-serviceType">';

							for (i = 0; i < jsonData.length; i++) {
								var opt = jsonData[i].name;
								if (opt == name) {
									optStr = optStr
											+ '<option selected value="'+opt+'" class="ST_1" >'
											+ opt + '</option>';
								} else {
									optStr = optStr
											+ '<option value="'+opt+'" class="ST_1" >'
											+ opt + '</option>';
								}

							}
							selStr = selStr + optStr + "</select>";
							$(".st-select-container").html(selStr);
							$(".edit-serviceType-id").val(id);
							$(".edit-serviceType-price").val(price);

						});

		$(".commission-update-btn").click(function() {

			var id = $(".edit-serviceType-id").val();

			var name = $("#edit-serviceType option:selected").text();
			var price = $(".edit-serviceType-price").val();

			var jsondata = {};
			jsondata["id"] = id;
			jsondata["name"] = name;
			jsondata["price"] = price;

			var urlPerfix = baseUrl;
			url = urlPerfix + "/commission/" + id;
			callAjaxPostJSON(url, "PUT", "", jsondata);
			clearForm();
		});
	}

	function clearForm() {
		$(".form-control").val("");
	}

	function callAjaxPostJSON(urlMapping, callType, container, data) {

		$.ajax({
			type : callType,
			contentType : "application/json",
			url : urlMapping,
			data : JSON.stringify(data),
			crossDomain : true,
			dataType : 'json',
			timeout : 100000,
			success : function(response) {
				console.log("SUCCESS: ", data);
				if (!data.error)
					location.reload(true);
			},
			error : function(xhr, status, error) {
				console.log("ERROR: ", error);
			},
			done : function(e) {
				console.log("DONE");
			}
		});

	}

	function populateData(response) {
		console.log(" hello : "+response);
		var headerdataStr = "";
		headerdataStr = headerdataStr + "<th>S.No</th>"
				+ "<th>Doctor Name</th>" + "<th>Commission</th>"
				+ "<th>Status</th>" + "<th>Action</th>";

		$('.headerdata').html(headerdataStr);
		//alert(response.length);
		var rowDataStr = "";
		for (i = 0; i < response.length; i++) {
			console.log(" hello : "+response[i]);
			rowDataStr = rowDataStr
					+ "<tr id='row_" + response[i].id + "'>"

					+ "<td id='commission_id_" + response[i].id + "'>"
					+ response[i].id
					+ "</td>"

					+ "<td id='commission_doctorId_" + response[i].id + "'>"
					+ response[i].name
					+ "</td>"

					+ "<td id='commission_totalCommission_" + response[i].id + "'>"
					+ response[i].commission
					+ "</td>"

					+ "<td id='commission_status_" + response[i].id + "'>"
					+  1 
					+ "</td>"

					+ "<td>"

					/* + "<button id='editbtn_" + response[i].id + "' class='btn-primary editbtn' data-target='#editServiceType'" + "data-toggle='modal' title='Edit Appointment'>"
					+ "<span class='glyphicon glyphicon-pencil'></span>"
					+ "</button>"
 */
					+ "<button id='delbtn_" + response[i].id + "' class='btn-primary delbtn' title='Delete Service Type'>"
					+ "<span class='glyphicon glyphicon-remove'></span>" + "</button></td>"

					+ "</tr>";
		}
		$('.rowdata').html(rowDataStr);

	}
</script>
